<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Centrora Email</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <style type="text/css">
        body {margin: 0; padding: 0; min-width: 100%!important;}
        .content {width: 100%;
            max-width: 670px;}
        .header {padding: 35px 35px 20px 30px;}
        .call-to-action{
            color: white; background: rgba(255, 255, 255,0.2); text-align: center; padding-top: 6px; padding-bottom: 6px; font-size: 17px; font-weight: 400;
            cursor:pointer;
        }
        .call-to-action:hover{
            background: rgba(222,72,47,0.6);
        }
        }
    </style>
</head>
<body>
<table width="100%" border="0" cellpadding="0" cellspacing="0" background="https://cdn.centrora.com/images/wrapper.jpg">
    <tr>
        <td style="padding-top: 30px; padding-bottom:30px;">
            <table class="content" align="center" cellpadding="0" cellspacing="0" border="0" style="background:url(https://cdn.centrora.com/images/map.png); background-size:1400px; background-position:center; background-color:rgba(0,0,0,0.3); padding-bottom:10px;">
                <tr>
                    <td class="header">
                        <table width="170" align="left" border="0" cellpadding="0" cellspacing="0" style="padding-bottom:20px;">
                            <tr>
                                <td width="170">
                                    <img src="https://cdn.centrora.com/images/logo_white.png"  width="251" border="0" alt="" />
                                </td>
                            </tr>
                        </table>
                        <table width="230" align="right" border="0" cellpadding="0" cellspacing="0" style="text-align:right;">
                            <tr>
                                <td height="70">
       				 	<span style="color:white; opacity:0.8; font-size:13px; line-height: 18px;">
                            Luxur Group PTY LTD
                            ABN: 67 164 057 461
                            Level 9, Melbourne Central Tower, 360
                            Elizabeth Street, Melbourne VIC, Australia, 3000
                        </span>
                                </td>
                            </tr>
                        </table>
                        <table border="0" cellpadding="0" cellspacing="0" style="padding-top: 24px; width:100%;">
                            <tr>
                                <td width="600" style="color: white; background: rgb(90, 61, 95) none repeat scroll 0% 0%; text-align: center; line-height:21px; padding: 7px 15px; font-size: 18px; font-weight: 600; letter-spacing: 1px; box-shadow: 0 1px 2px #333333;">
                                    <span>
                                        {header}
                                    </span>
                                </td>
                            </tr>
                        </table>
                        <table border="0" cellpadding="0" cellspacing="0" style="padding-top: 5px; width:100%;">
                            <tr>
                                <td width="600" style="color: #535353; background: rgba(255, 255, 255,0.8); text-align:left; padding:20px 20px; font-size: 14px; font-weight: 400;">
                                    <span style="font-size: 15px;"><b>Dear {name},</b></span>
                                    <br><br>
                                    <span style="line-height: 20px;">
                         {content}
          				</span>
                                </td>
                            </tr>
                        </table>
                        <table  border="0" cellpadding="0" cellspacing="0" style="padding-top: 20px; width:100%;">
                            <tr>

                                <td width="600" class="call-to-action">
                                    <a target="_blank" href="http://www.centrora.com/developers/" style="text-decoration:none; color:white;">
                                        <img width="25" height="25" src="https://cdn.centrora.com/images/logo-standalone.png" alt="C_puma" style="margin-bottom:-7px;"/>
                                        <span> Schedule your scanning and update with Centrora Premium  </span>
                                    </a>
                                </td>

                            </tr>
                        </table>
                        <table border="0" cellpadding="0" cellspacing="0" style="padding-top: 10px; width:100%;">
                            <tr>
                                <td width="600" style="color:white; opacity:0.8; text-align:center; font-size: 13px;">
                                    Need help? <a href="https://www.centrora.com/contact-us/" style="color: white; text-decoration: none; "><b>Contact us here</b> </a>
                                </td>
                            </tr>
                        </table>
                        <table border="0" cellpadding="0" cellspacing="0" style="padding-top: 10px; width:100%; margin-top: -8px;">
                            <tr>
                                <td width="600" style="color:white; opacity:0.8; text-align:center;">
                                    <div style="border-top: 1px solid white; margin:10px 50px"></div>
                                    <span style="font-size: 13px;" >Centrora 2014-2017 a portfolio of Luxur Group PTY LTD,  All rights reserved.</span>
                                </td>
                            </tr>
                        </table>

                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>
